* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #f5f4f1;
  display: grid;
  grid-template-rows: 10vh 55vh 25vh;
  row-gap: calc(10vh / 3);
  min-height: 100vh;
  margin: 0 auto;
}

/* Search Bar */

#search {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  padding: 0px 24px;
  border-radius: 0px 0px 20px 20px;
  margin: 0px 48px;
  border: solid 2px black;
  border-top: none;
}

input {
  border: none;
  flex-basis: 70%;
  font-size: clamp(1rem, 2.5rem, 2.5rem);
}

input:focus {
  outline: none;
}

#search > button {
  background-color: #fff;
  border: none;
}

/* Daily View */

#daily-view,
#weekly-view {
  height: 100%;
  border: 1px solid black;
}

#daily-view {
  margin: 0 16px;
  padding: 16px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#daily-date {
  font-size: 4rem;
}

#daily-desc {
  font-size: 2rem;
}

#daily-temp {
  display: flex;
  gap: 8px;
}

#avg-temp {
  font-size: 2.5rem;
}

#temp-minmax {
  display: flex;
  gap: 4px;
  flex-direction: column;
  font-size: 1.2rem;
}

#daily-details {
  display: flex;
  justify-content: space-around;
}

/* Weekly View */
